<sly-card class="mt10"
          title="2. Import settings"
          subtitle="Configure destination project and dataset"
          style="margin-bottom: 20px; padding-bottom: 10px"
>

    <sly-field title="Data duplication"
      description="Choose whether data should be copied to internal Supervisely Storage or just added by link">
      <div class="fflex" style="flex-direction: column; align-items: flex-start">
        <el-radio class="radio" v-model="state.addMode" label="copyData">
          Copy file from cloud to Supervisely Storage
        </el-radio>
        <el-radio class="radio mt5" v-model="state.addMode" label="addByLink" style="margin-left: 0">
          Keep file only in cloud without duplication, add to Supervisely
          Storage by link
        </el-radio>
      </div>
      <div class="fflex align-start mt5" v-if="state.addMode === 'addByLink'">
        <el-checkbox v-model="state.forceMetadata" style="margin: 5px 10px 0 0">
        </el-checkbox>
        <sly-field class="mt20" title="Data validation"
          description="Image will be downloaded once to calculate hash, get resolution and validate mimetype. If disabled, image will be directly added to the selected project without metadata (fast import without validation).">
        </sly-field>
      </div>
    </sly-field>


    <sly-field title="Assign tags from csv table" v-show="state.totalTagsLen > 0">
        <el-select v-model="state.needTag" placeholder="Select dataset year">
            <el-option key="add" label="Add Tags" value="add"></el-option>
            <el-option key="ignore" label="Ignore Tags" value="ignore"></el-option>
        </el-select>
    </sly-field>


    <sly-field title="Result project"
               description="Define destination project and dataset">
        <div class="fflex">

            <el-radio class="radio"
                      v-model="state.dstProjectMode"
                      label="newProject"
                      @input="(val) => {
                            if (val === 'newProject') {
                                state.dstDatasetMode = 'newDataset';
                            }
                          }"
            >
                Create new project
            </el-radio>
            <el-radio class="radio" v-model="state.dstProjectMode" label="existingProject">Add to existing project
            </el-radio>
        </div>
        <div class="mt5">
            <div v-if="state.dstProjectMode === 'newProject'">
                <el-input placeholder="Please input project name" v-model="state.dstProjectName"></el-input>
                <div class="mt5" style="color: #5a6772">
                    <i>If project with the same name already exists, a new name will be generated automatically</i>
                </div>
            </div>
            <div v-if="state.dstProjectMode === 'existingProject'">
                <sly-select-project
                        :workspace-id="data.workspaceId"
                        :project-id.sync="state.dstProjectId"
                        :options="{showLabel: false, availableTypes: ['images']}"
                >
                </sly-select-project>
            </div>
        </div>
    </sly-field>
    <sly-field title="Result dataset"
               description="All items will be placed to a single dataset.">
        <div class="fflex">
            <el-radio class="radio" v-model="state.dstDatasetMode" label="newDataset">Create new dataset</el-radio>
            <el-radio class="radio"
                      v-model="state.dstDatasetMode"
                      label="existingDataset"
                      :disabled="state.dstProjectMode === 'newProject'">
                Add to existing dataset
            </el-radio>
        </div>
        <div class="mt5">
            <div v-if="state.dstDatasetMode === 'newDataset'">
                <el-input placeholder="Please input dataset name" v-model="state.dstDatasetName"></el-input>
                <div class="mt5" style="color: #5a6772">
                    <i>If dataset with the same name already exists, a new name will be generated automatically</i>
                </div>
            </div>
            <div v-if="state.dstDatasetMode === 'existingDataset'">
                <sly-select-dataset
                        :project-id="state.dstProjectId"
                        :datasets.sync="state.selectedDatasetName"
                        :options="{showLabel: false}"
                >
                </sly-select-dataset>
            </div>
        </div>
    </sly-field>

    <el-button
            class="regular mr10" type="primary"
            style="align-self: flex-end;"
            :loading="data.processing === true"
            :disabled="(state.dstProjectMode === 'newProject' && state.dstProjectName.length === 0) ||
                           (state.dstProjectMode === 'existingProject' && !state.dstProjectId) ||
                           (state.dstDatasetMode === 'newDataset' && state.dstDatasetName.length === 0) ||
                           (state.dstDatasetMode === 'existingDataset' && !state.selectedDatasetName)
                           "
            @click="data.processing = true; data.finished = false; command('process')">
        <i v-if="!data.processing" class="zmdi zmdi-play mr5"></i> Start import
    </el-button>
    <div class="mt5" v-if="state.dstProjectMode === 'newProject' && state.dstProjectName.length === 0"
         style="color: red">
        Please, define the name of a new project
    </div>
    <div class="mt5" v-if="state.dstProjectMode === 'existingProject' && !state.dstProjectId" style="color: red">
        Please, select one of the existing projects
    </div>
    <div class="mt5" v-if="state.dstDatasetMode === 'newDataset' && state.dstDatasetName.length === 0"
         style="color: red">
        Please, define the name of a new dataset
    </div>
    <div class="mt5" v-if="state.dstDatasetMode === 'existingDataset' && !state.selectedDatasetName" style="color: red">
        Please, select one of the existing datasets
    </div>

    <div v-if="data.progressName1" style="margin-bottom: 0; margin-top: 15px">
        <div>{{data.progressName1}}: {{data.currentProgressLabel1}} / {{data.totalProgressLabel1}}</div>
        <el-progress :percentage="Math.round(data.currentProgress1 * 100 / data.totalProgress1)"></el-progress>
    </div>
<!--    <br>-->
<!--    <br>-->
    <sly-field v-if="data.finished === true" title="" style="margin-bottom: 0; margin-top: 15px"
               description="New project has been successfully created">
        <a slot="title" target="_blank" :href="`/projects/${data.resultProjectId}/datasets`">{{data.resultProject}}</a>
        <sly-icon slot="icon" :options="{ imageUrl: `${data.resultProjectPreviewUrl}` }"/>
    </sly-field>

</sly-card>
